/* Desktop-only view. 
 * Largest mobile view is iPad Pro with 1366 in landscape mode
 */
 
  /* Large mobile device screens */
  @media only screen and (min-width:501px) {
    :root {

        --bg-image: url("../images/red_hay_web.png");
        --bg-width: 100vw;
        --bg-height: 100vh;
        --bg-pos: center center;
        --bg-size: cover;
    }
  }
  /* Smallest image for phone screens */
  @media only screen and (max-width:500px) {
    :root {
        --bg-image: url("../images/red_hay_mobile1.png");
        --bg-height: 100vh;
        --bg-pos: center center;
        --bg-size: cover;
    }
  }

  body {
    background-color: #fff;
    margin: 0px auto;
    padding: 0px auto;
    background: var(--bg-image) var(--bg-pos) no-repeat;
    width: var(--bg-width);
    height: var(--bg-height);
    background-size: var(--bg-size);
  }


@font-face {
    font-family: portgas_bold;
    src: url("../fonts/Portgas\ Display-Bold.otf");
  }

@font-face {
    font-family: parchment;
    src: url("../fonts/parchment.ttf");
  }

  @font-face {
    font-family: source_code;
    src: url("../fonts/source-code-pro/SourceCodePro-Regular.otf");
  }

@keyframes transitionIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menu-area {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 40px 40px;
    justify-content: space-between;
    min-height: 100vh;            /* fall-back */
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    animation: transitionIn 700ms;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.42,0,1,1);
    animation-fill-mode: forwards;
    opacity: 0;
}

.menu-area li{
    position: relative;
    list-style: none;
}

.menu-area li a{
    text-decoration: none;
    position: relative;
    font-family: "portgas_bold";
    font-size: 1.6rem;
    color: white;
    transition: color 50ms;
}

.menu-area li a:hover{
    color:#8d2c1f;
}

ion-icon {
   font-size: 2rem; 
}

.fa-brands {
    font-size: 2rem; 
}

.socials-area {
    right: 40px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;            /* fall-back */
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

.socials-area li{
    list-style: none;
    position: relative;
    padding: 20px;
}

.socials-links {
    color: white;
    transition: color 50ms;
    text-decoration: none;
}

.socials-links:hover {
    color:#8d2c1f;
}   


footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: end;
    top: 90%;
    right: 60px;
    bottom: 52px;
    color: white;
    min-height: 100vh;            /* fall-back */
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

@media screen and (min-width: 601px) {
    div.footer-content {
          font-size: .4rem;
      }
}

@media screen and (max-width: 600px) {
    div.footer-content {
      font-size: .2rem;
  }
}

.footer-content {
    text-align: right;
}