* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui;
    background-image: url("../images/red_hay.png");
    width: 1439px;
    height: 931px;
    background-repeat: no-repeat;
    background-size: 1439px;
}

@font-face {
    font-family: portgas_bold;
    src: url("../fonts/Portgas\ Display-Bold.otf");
  }

@font-face {
    font-family: parchment;
    src: url("../fonts/parchment.ttf");
  }

  @font-face {
    font-family: source_code;
    src: url("../fonts/source-code-pro/SourceCodePro-Regular.otf");
  }

.title {
    font-weight: bold;    
}

.menu-area {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 0 40px;
    justify-content: space-between;
    height: 100vh;
}

.menu-area li{
    position: relative;
    list-style: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu-area li a{
    text-decoration: none;
    position: relative;
    font-family: "portgas_bold";
    font-size: 1.6rem;
    color: white;
    transition: color 0.05s;
}

.menu-area li a:hover{
    color:#8d2c1f;
}

ion-icon {
   font-size: 2rem; 
}

.fa-brands {
    font-size: 2rem; 
}

.socials-area {
    margin-left: auto;
    right: 40px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.socials-area li{
    list-style: none;
    position: relative;
    padding: 20px;
}

.socials-links {
    color: white;
    transition: color 0.05s;
    text-decoration: none;
}

.socials-links:hover {
    color:#8d2c1f;
}   


footer {
    display: flex;
    flex-direction: column;
    right: 60px;
    height: auto;
    position: fixed;
    bottom: 52px;
    color: white;
}

.footer-content {
    text-align: right;
    font-size: .4rem;
}